/* NavBar */

.nav {
    background-color: #0072BB;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.5em;
}

.nav img {
    width: 5em;
}

.nav__ul {
    list-style: none;
    width: 50%;
    display: inherit;
    justify-content: space-evenly;
    line-height: 4.5em;
    margin-left: 1em;
}

.active2 {
    font-weight: bold;
}

.nav__ul-li a {
    text-decoration: none;
    color: black;
    transition: color .3s;
}

.nav__ul-li a:hover {
    color: #CCCCCC;
}

/* Content */

.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5em 5em 9em 5em;
    color: #CCCCCC;
}

.section1 {
    width: 40%;
}

.section1 h3 {
    font-size: 1.6em;
}

.section2__img:hover,
.section2__img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.btn__link {
    text-decoration: none;
}

.btn, .btn2 {
    background-color: #0072BB;
    border: none;
    padding: 12px 22px;
    border-radius: 33px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    transition: background .3s;
}

.btn, .btn2:hover {
    background-color: #3498db;
}

.btn2 {
    display: none;
}

.btn:hover {
    background-color: #3498db;
}

.stock-p {
    text-align: center;
    color: white;
    margin-top: -2em;
}

.stock {
    width: 10%;
    text-align: center;
    margin: 0 auto 1em auto;
    font-size: 1em;
    display: flex;
    padding: .5em;
}

.h3__stock {
    text-align: center;
    color: #CCCCCC;
    margin: -1em 0 0.5em 0;
}

/* Velo */

.velo {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto !important;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

.velo-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 430px;
  }

#texto {
    margin: 5em auto 0 auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 2em;
  }

.velo-content, #texto {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.cerrar:hover,
.cerrar:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@media only screen and (max-width: 700px){
    .velo-content {
      width: 100%;
    }
}

/* Footer */

.footer {
    color:#333;
    background-color: #AAA;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.footer-section1 {
    width: 40%;
}

.footer__ul {
    list-style: none;
}

.footer__ul-li a {
    text-decoration: none;
    color:#333;
    padding-left: 3px;
}

.footer__ul-li a:hover {
    font-weight: bold;
}

.footer-bottom {
    text-align: center;
}

.alert {
    background-color: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    opacity: 0;
    pointer-events: none;
}

.alert.show {
    animation: show_slide 1s ease forwards;
    opacity: 1;
    pointer-events: auto;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #ffc766;
}

.close-btn .fa-times {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

@media screen and (max-width: 985px) {
    .section1 {
      width: 80%;
      margin: 0 auto 2em auto;
    }
    .btn {
        display: none;
    }
    .btn2 {
        display: block;
        margin: 0 auto 2em auto;
    }
    .section2 {
        margin: auto;
    }
    .section2__img {
        width: 70%;
        display: block;
        margin: 0 auto 0 auto;
    }
  }
