/* NavBar */

.nav {
    background-color: #0072BB;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.5em;
}

.nav img {
    width: 5em;
}

.nav__ul {
    list-style: none;
    width: 50%;
    display: inherit;
    justify-content: space-evenly;
    line-height: 4.5em;
    margin-left: 1em;
}

.active {
    font-weight: bold;
}

.nav__ul-li a {
    text-decoration: none;
    color: black;
    transition: color .3s;
}

.nav__ul-li a:hover {
    color: #CCCCCC;
}

/* Content */

.form {
    display: flex;
    flex-flow: column wrap;
    margin: 5em;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #CCCCCC;
}

.label {
    font-size: 1.2em;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.login input {
    height: 3em;
    font-size: 1em;
}

.mensaje {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensaje textarea {
    height: 40em;
    width: 30em;
    resize: none;
}

.btn__container {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 4em 0 0 0;
}

.btn {
    background-color: #0072BB;
    border: none;
    padding: 12px 22px;
    border-radius: 33px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

.btn:hover {
    background-color: #3498db;
}

/* Footer */

.footer {
    color:#333;
    background-color: #AAA;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.footer-section1 {
    width: 40%;
}

.footer__ul {
    list-style: none;
}

.footer__ul-li a {
    text-decoration: none;
    color:#333;
}

.footer__ul-li a:hover {
    font-weight: bold;
}

.footer-bottom {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .inputs {
        display: flex;
        justify-content: center;
    }
    .login {
        width: 22em;
        gap: 20px;
        margin-bottom: 2em;
    }
  }
